@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Welcome to Simple Library Management System</h5>
    <p>We offer services that is next to none.</p>
</div>
